.body-background {
    background-color: #000; 
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/212/575/non_2x/blue-night-starry-background-horizontal-design-template-dark-night-star-background-illustration-vector.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}